@model Project_dotnet.Models.Training

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GebruikerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GebruikerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activiteit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activiteit.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
